<mat-dialog-content class="dialogBox">
  <h1>Sukurti komandą</h1>
  <form [formGroup]="bioSection" (ngSubmit)="updateTeamData()">
    <div class="modalBox">
      <div formGroupName="Title">
        <label for="exampleInputEmail1"><b>Komandos pavadinimas</b></label>
        <input type="text" class="form-control" id="exampleInputEmail1" formControlName="title"
          aria-describedby="emailHelp" placeholder="Įveskite komandos pavadinimą..">
      </div>
      <div>
        <label class="inputLabel" id="teamLogo" for="exampleInputEmail1"><b>Komandos logotipas</b><br></label>
        <input type="file" class="form-control" id="imagePath" placeholder="Pasirinkite nuotrauką.."
          (change)="handleFileSelect($event)">
      </div>
      <button class="submitButton" (click)="openCreateSuccessfulBar('Komanda buvo sėkmingai sukurta!', 'Gerai')"
        mat-raised-button type="submit" color="primary">Pridėti</button>
    </div>
  </form>
</mat-dialog-content>