/* You can add global styles to this file, and also import other style files */
// @import "~bootstrap/scss/bootstrap";

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-card {
    background: rgba(54, 48, 74, 0.8);
}
.mat-toolbar {
    height: 8vh;
}
.mat-toolbar-row {
    height: 100% !important;
}
.mat-toolbar.mat-primary {
    background: rgba(54, 48, 74, 0.8);
}

.mat-button {
    padding: 10px 30px !important;
    height: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
}

.mat-button:hover {
    border-bottom: 2px solid red;
    border-radius: 0px;
    background: rgba(243, 115, 115, 0.123);
}

.mat-dialog-container {
    background: #4B2D43;
}

.mat-dialog-content {
    max-height: 75vh !important;
}

.mat-raised-button {
    background: #9c8ad4 !important;
}

.mat-form-field-flex {
    background: white;
    border-radius: 5px;
    height: 5vh;
}

mat-form-field {
    margin-top: 8px;
}

.mat-select-placeholder {
    margin-left: 1vh;
}

.mat-select-value-text {
    margin-left: 2vh;
}
