<body style="display: flex; justify-content: center; align-items: center;">
    <div class="grid">
        <div class="playerImage">
            <img src="{{dataSource.imagePath}}" alt="">
            <p class="playerNumber">#{{dataSource.number}}</p>
            <p class="playerName">{{dataSource.firstName}} {{dataSource.lastName}}</p>
            <p class="playerName" style="font-size: 1.5rem;">{{dataSource.dateOfBirth | date: 'yyyy-MM-dd'}}</p>
        </div>

        <div class="playerStatistic">
            <p class="playerStatisticTitle">Žaidėjo informacija</p>
            <div class="statRow">
                <div class="border">
                    <p class="statHeader">Komanda:</p>
                    <p class="statData" style="font-size: 1.3rem;">{{dataSource.teamName}}</p>
                </div>
            </div>
            <div class="statRow">
                <div class="border">
                    <p class="statHeader">Įvarčiai:</p>
                    <p class="statData">{{dataSource.goals}}</p>
                </div>
            </div>
            <div class="statRow">
                <div class="border">
                    <p class="statHeader">Geltonos kortelės:</p>
                    <p class="statData">{{dataSource.yellowCardsCount}}</p>
                </div>
            </div>
            <div class="statRow">
                <div class="border">
                    <p class="statHeader">Raudonos kortelės:</p>
                    <p class="statData">{{dataSource.redCardsCount}}</p>
                </div>
            </div>
            <div class="statRow">
                <div class="border">
                    <p class="statHeader">Sužaistos rungtynės:</p>
                    <p class="statData">{{dataSource.matchesPlayed}}</p>
                </div>
            </div>
            <div class="statRow">
                <div class="border">
                    <p class="statHeader">Įvarčiai į savus vartus:</p>
                    <p class="statData">{{dataSource.ownGoals}}</p>
                </div>
            </div>
        </div>
    </div>
</body>