<mat-dialog-content class="dialogBox">
    <h1>Redaguoti žaidėją</h1>
    <form [formGroup]="bioSection" (ngSubmit)="updatePlayerData()">
        <div class="modalBox">
            <div formGroupName="FirstName">
                <label for="exampleInputEmail1"><b>Vardas</b></label>
                <input type="text" class="form-control" id="firstName" formControlName="firstName"
                    aria-describedby="emailHelp" placeholder="Įveskite žaidėjo vardą">
            </div>
            <div formGroupName="LastName">
                <label for="exampleInputEmail1"><b>Pavardė</b></label>
                <input type="text" class="form-control" id="exampleInputEmail1" formControlName="lastName"
                    aria-describedby="emailHelp" placeholder="Įveskite žaidėjo pavardę">
            </div>
            <div formGroupName="DateOfBirth">
                <label for="exampleInputEmail1"><b>Gimimo data</b></label>
                <input type="date" class="form-control" min="1950-01-01" max="2019-01-01" id="exampleInputEmail1"
                    formControlName="dateOfBirth" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"
                    placeholder="Įveskite žaidėjo gimimo datą">
            </div>
            <div formGroupName="Number">
                <label for="exampleInputEmail1"><b>Numeris</b></label>
                <input type="number" class="form-control" id="exampleInputEmail1" formControlName="number" min="0"
                    max="99" placeholder="Įveskite žaidėjo numerį">
            </div>
            <div>
                <label class="inputLabel" for="exampleInputEmail1"><b>Žaidėjo nuotrauka</b><br></label>
                <input type="file" class="form-control" id="imagePath" placeholder="Pasirinkite nuotrauką.."
                    (change)="handleFileSelect($event)">
            </div>

            <div style="display: flex; flex-direction: column;">
                <label><b>Komanda</b></label>
                <mat-form-field>
                    <mat-select [(ngModel)]="selectedTeamId" [ngModelOptions]="{standalone: true}" name="team" required>
                        <mat-option *ngFor="let team of teams" [value]="team.id">
                            {{team.title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <button class="submitButton" (click)="openEditSuccessfulBar('Žaidėjas buvo sėkmingai atnaujintas!', 'Gerai')"
                mat-raised-button type="submit" color="primary">Patvirtinti</button>
        </div>
    </form>
</mat-dialog-content>