.mat-card {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    color: white;
    word-wrap: break-word;
}

.mat-card-subtitle {
    color: white;
}

.mat-table {
    margin-top: 10px;
}

.gridas {
    display: grid;
    grid-template-columns: 70% 30%;
}

@media screen and (max-width: 1400px) {
    .gridas {
        grid-template-columns: 60% 40%;
    }
}

@media screen and (max-width: 992px) {
    .gridas {
        grid-template-columns: 100%;
    }

    .mainTable {
        margin-bottom: 15px;
    }

    .mat-table {
        margin-right: 10px;
    }
}
.news {
    overflow: scroll;
    overflow-x: hidden;
    max-height: 70vh;
    margin-right: 2rem;
}

.news::-webkit-scrollbar {
    width: 3px;
}

.news::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

.news::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #36304a;
}

.tableRow {
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    background: #36304a;
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.tableRowContent {
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

th {
    color: white;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: center;
    font-weight: normal !important;
    padding: 10px 24px;
    width: 100%;
    max-width: 25%;
}

td {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 25%;
    width: 100%;
    padding: 10px 24px;
    text-align: center;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
}

tbody tr:nth-child(even) {
    background: #ccc;
}
tbody tr:nth-child(odd) {
    background: rgb(128, 127, 127);
}

.mainTable {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background: white;
    height: auto;
    max-height: 70vh;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 1);
}

tbody {
    overflow: scroll;
    overflow-x: hidden;
}

tbody::-webkit-scrollbar {
    width: 5px;
    box-shadow: inset 0 0 2px #36304a;
}

tbody::-webkit-scrollbar-track {
    border-radius: 11px;
    box-shadow: inset 0 0 2px #36304a;
}

tbody::-webkit-scrollbar-thumb {
    border-bottom-right-radius: 11px;
    border-bottom-left-radius: 11px;
    background-color: #36304a;
}

.tableImage {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

.icon-container {
    width: 100%;
    height: 10vh;
    margin-top: 32px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: row;
    // justify-content: center;
    // align-items: center;

    .icon-svg {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        img {
            width: 108px;
            height: 108px;
            text-align: center;
        }
    }

    .icon-text {
        height: 100%;
        width: 50%;

        .icon-title {
            font-size: 3.5rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            color: white;
            margin: 0;
            height: 100%;
            transform: translateX(-50%);
        }
    }
}

.add-button-wrapper {
    z-index: 10;
    padding: 16px;
    height: 80px;
    width: 80px;
    position: fixed;
    bottom: 32px;
    right: 32px;
    border-radius: 50%;
    border: 0px;
    background-color: rgb(48, 49, 51);
    box-shadow: 0px 0px 10px rgba(252, 252, 255, 0.5);
    transition: 0.2s ease-in-out;
    cursor: pointer;

    .add-button {
        height: 100%;
        width: 100%;
        background-image: url("../../assets/plus.svg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    &:hover {
        transform: scale(1.2);
    }
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.adminButton {
    height: 1.5rem;
    //margin: 4px;
    // box-shadow: 0px 0px 10px rgba(252, 252, 255, 0.5);
    transition: 0.1s ease-in-out;
    border-radius: 5px;
    float: right;

    cursor: pointer;

    &:hover {
        transform: scale(1.2);
        animation: rotates 0.5s ease-in-out;
    }
}

@keyframes rotates {
    0% {
        transform: rotate(20deg);
    }

    25% {
        transform: rotate(-20deg);
    }

    50% {
        transform: rotate(20deg);
    }

    75% {
        transform: rotate(-20deg);
    }
}
