<mat-dialog-content class="dialogBox">
    <h1>Sukurti rungtynes</h1>
    <form [formGroup]="bioSection" (ngSubmit)="updateMatchData()">
        <div class="modalBox">
            <div style="display: flex; flex-direction: column;">
                <label><b>Namų komanda</b></label>
                <mat-form-field>
                    <mat-select [(ngModel)]="selectedHomeTeamId" [ngModelOptions]="{standalone: true}" name="homeTeam"
                        required>
                        <mat-option *ngFor="let team of teams" [value]="team.id">
                            {{team.title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div style="display: flex; flex-direction: column;">
                <label><b>Svečių komanda</b></label>
                <mat-form-field>
                    <mat-select [(ngModel)]="selectedAwayTeamId" [ngModelOptions]="{standalone: true}" name="awayTeam"
                        required>
                        <mat-option *ngFor="let team of teams" [value]="team.id">
                            {{team.title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div formGroupName="MatchDate">
                <label for="exampleInputEmail1"><b>Rungtynių data</b></label>
                <input type="datetime-local" class="form-control" min="2020-01-01T00:00" max="2021-12-31T00:00"
                    id="exampleInputEmail1" formControlName="matchDate" onfocus="(this.type='datetime-local')"
                    placeholder="Įveskite rungtynių datą">
            </div>

            <button class="submitButton" mat-raised-button type="submit"
                color="primary">Pridėti</button>
        </div>
    </form>
</mat-dialog-content>