<mat-dialog-content class="dialogBox">
    <h1>Sukurti naujieną</h1>
    <form [formGroup]="bioSection" (ngSubmit)="updateAnnouncementData()">
        <div class="modalBox">
            <div formGroupName="Title">
                <label for="exampleInputEmail1"><b>Pavadinimas</b></label>
                <input type="text" class="form-control" id="title" formControlName="title" aria-describedby="emailHelp"
                    placeholder="Įveskite naujienos pavadinimą">
            </div>
            <div formGroupName="Content">
                <label for="exampleInputEmail1"><b>Turinys</b></label>
                <textarea class="newContent" type="text" id="content" formControlName="content"
                    aria-describedby="emailHelp" placeholder="Įveskite naujienos turinį">
                </textarea>
            </div>
            <button class="submitButton" (click)="openCreateSuccessfulBar('Naujiena buvo sėkmingai sukurta!', 'Gerai')"
                mat-raised-button type="submit" color="primary">Sukurti</button>
        </div>
    </form>
</mat-dialog-content>