<div *ngIf="isAdmin" class="add-button-wrapper" (click)="openMatchCreateDialog()">
    <div class="add-button"></div>
</div>

<div class="noMatchesText" *ngIf="dataSource?.length === 0 && !notLoaded">
    Nėra ateinančių ar įvykusių rungtynių.
</div>
<div class="spinner" *ngIf="notLoaded">
    <mat-spinner></mat-spinner>
</div>
<div *ngIf="dataSource?.length > 0 && !notLoaded" class="mainTable">
    <!-- <table *ngIf="dataSource?.length > 0" class="table table-striped table-condensed"> -->
    <thead>
        <tr class="tableRow">
            <th>Data</th>
            <th>Namų komanda</th>
            <th>Rezultatas</th>
            <th>Svečių komanda</th>
        </tr>
    </thead>

    <tbody>
        <tr class="tableRowContent" *ngFor="let item of fullInfoCoppied" (click)="onMatchRowClick(item)">
            <td>{{item.matchDate | date:'yyyy-MM-dd HH:mm'}}</td>
            <td>
                {{item.homeTeam}}
            </td>
            <td>
                {{item.homeTeamScore}} : {{item.awayTeamScore}}
            </td>
            <td>
                {{item.awayTeam}}
            </td>
        </tr>
    </tbody>
    <div class="searchBar">
        <th></th>
        <th></th>
        <th></th>
        <th>
            <input #myInput class="searchInput" type="text" placeholder="Ieškoti:" [(ngModel)]="searchMatch"
                (input)="filterItem(myInput.value)">
        </th>
    </div>
    <!-- </table> -->
</div>