input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

b {
  color: white;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

input[type="file"] {
  color: white;
  width: 100%;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
}

div {
  border-radius: 5px;
  background-color: #4b2d43;
  padding: 10px;
}

h1 {
  background: #4b2d43;
  color: white;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid lightgray;
}

.modalBox {
  background: #4b2d43;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
}

.dialogBox {
  width: 60vh;
  height: 30vw;
  background: #4b2d43;
}
