<mat-dialog-content class="dialogBox">
    <h1>Redaguoti naujieną</h1>
    <form [formGroup]="bioSection" (ngSubmit)="updateAnnouncementData()">
        <div class="modalBox">
            <div formGroupName="Title">
                <label for="exampleInputEmail1"><b>Pavadinimas</b></label>
                <input type="text" class="form-control" id="title" formControlName="title" aria-describedby="emailHelp"
                    placeholder="Įveskite naujienos pavadinimą">
            </div>
            <div formGroupName="Message">
                <label for="exampleInputEmail1"><b>Turinys</b></label>
                <textarea class="newMessage" type="text" id="message" formControlName="message"
                    aria-describedby="emailHelp" placeholder="Įveskite naujienos turinį">
                </textarea>
            </div>
            <button class="submitButton"
                (click)="openEditSuccessfulBar('Naujiena buvo sėkmingai atnaujinta!', 'Gerai')" mat-raised-button
                type="submit" color="primary">Patvirtinti</button>
        </div>
    </form>
</mat-dialog-content>