.grid {
    width: 100%;
    margin-top: 2vh;
    // box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.3);
    // background: rgba(54, 48, 74, 0.8);
    border-radius: 15px;
    display: grid;
    grid-template-columns: 40% 20% 40%;
    height: 35vh;
    padding: 24px 32px;
}

.titlesGrid {
    width: 100%;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 40% 20% 40%;
    height: 2vh;
}

.teamTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
}

img {
    padding: 3px;
    border-radius: 15px;
    // box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
    color: white;
    height: 30vh;
}

.teamLogo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vsText {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 4rem;
}

.matchEvents {
    color: white;
    padding-top: 5vh;
}

.noEventsText {
    color: white;
    padding-top: 5vh;
}

.delete-button-wrapper {
    z-index: 10;
    padding: 16px;
    height: 80px;
    width: 80px;
    position: fixed;
    bottom: 2vh;
    right: 32px;
    border-radius: 50%;
    border: 0px;
    background-color: rgb(48, 49, 51);
    box-shadow: 0px 0px 10px rgba(252, 252, 255, 0.5);
    transition: 0.2s ease-in-out;
    cursor: pointer;

    .delete-button {
        height: 100%;
        width: 100%;
        background-image: url("../../assets/trash.svg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    &:hover {
        transform: scale(1.2);
    }
}

.addEvent-button-wrapper {
    z-index: 10;
    padding: 16px;
    height: 80px;
    width: 80px;
    position: fixed;
    bottom: 12vh;
    right: 32px;
    border-radius: 50%;
    border: 0px;
    background-color: rgb(48, 49, 51);
    box-shadow: 0px 0px 10px rgba(252, 252, 255, 0.5);
    transition: 0.2s ease-in-out;
    cursor: pointer;

    .addEvent-button {
        height: 100%;
        width: 100%;
        background-image: url("../../assets/addEvent.svg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    &:hover {
        transform: scale(1.2);
    }
}

.confirmButton {
    margin-top: 15px;
    cursor: pointer;
}

.editConfirmedEvents {
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    background-color: gray;
    color: white;
    font-weight: 420;
}

.confirmedMatch {
    color: #00ff00;
    font-size: 200%;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.mainTable {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #36304a;
    height: 35vh;
    max-height: 40vh;
    margin-top: 2vh;
}

.tableRow {
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    background: #36304a;
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.tableRowContent {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

th {
    display: flex;
    justify-content: center;
    color: white;
    font-weight: normal !important;
    align-items: center;
    text-align: center;
    padding: 10px 24px;
    width: 25%;
}

td {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 10px 24px;
    min-height: 100%;
    width: 25%;
}
tr {
    transition: 0.2s ease-in-out;
    height: 7vh;
}

tr:nth-child(even) {
    background-color: #8979ba;
}

tbody tr:nth-child(even) {
    background: #5a4f7a;
}
tbody tr:nth-child(odd) {
    background: #675b8c;
}
tbody {
    overflow: scroll;
    overflow-x: hidden;
}

tbody::-webkit-scrollbar {
    width: 5px;
    box-shadow: inset 0 0 2px #7e7599;
}

tbody::-webkit-scrollbar-track {
    border-radius: 11px;
    box-shadow: inset 0 0 2px #7d7597;
}

tbody::-webkit-scrollbar-thumb {
    border-bottom-right-radius: 11px;
    border-bottom-left-radius: 11px;
    background-color: #a39e9e;
}

.adminButton {
    height: 1.5rem;
    margin: 8px;
    // box-shadow: 0px 0px 10px rgba(252, 252, 255, 0.5);
    transition: 0.1s ease-in-out;
    border-radius: 5px;

    cursor: pointer;

    &:hover {
        transform: scale(1.2);
        animation: rotates 0.5s ease-in-out;
    }
}

@keyframes rotates {
    0% {
        transform: rotate(20deg);
    }

    25% {
        transform: rotate(-20deg);
    }

    50% {
        transform: rotate(20deg);
    }

    75% {
        transform: rotate(-20deg);
    }
}
